<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerSideEXEName" value="ServerParMandelbrot.exe" />
    <add key="ClusterHeadnode" value="headnode" />
    <add key="PublicNetworkShare" value="\\headnode\Public\DrJoe" />
    <add key="LocalWorkDirectory" value="C:\Apps\DrJoe" />
    <add key="RunAsUserName" value="MINIHPC\hummel" />
    <add key="RunAsPassword" value="" />
  </appSettings>
</configuration>
