<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServiceName" value="WCFMandelbrotService" />
    <add key="ClusterBrokernode" value="headnode" />
    <add key="RunAsUserName" value="MINIHPC\hummel" />
    <add key="RunAsPassword" value="" />
  </appSettings>
</configuration>